<div class="container text center">
  <%= simple_form_for(@work) do |f| %>
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12">
      <h1 class="heading-02" style="padding: 2rem 0rem;">New Work</h1>
        <div class="work-new-section">
          <h2 class="sub-heading-03">Header</h2>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
        </div>
        <div class="work-new-section">
          <h2 class="sub-heading-03">Tasks</h2>

        </div>
        <%= f.submit 'Create a new Work', :class => 'button-accent mb-4' %>
      </div>
    </div>
  <% end %>
</div>
