<div class="selected-works works">
  <div class="container">
    <h2 class="justify-content-center sub-heading-02"><%= t "pages.works.title" %></h2>
    <div class="row justify-content-center">
      <a href="<%= accor_path %>" class="col-md-4 col-sm-12 work-card d-flex align-items-end p-4" style="background-image: url(https://res.cloudinary.com/peachux/image/upload/v1669124778/website/Accor_cover.jpg)">
        <h3 class="work-card-link">Accor</h3>
      </a>
      <a href="<%= kraze_path %>" class="col-md-4 col-sm-12 work-card d-flex align-items-end p-4" style="background-image: url(https://res.cloudinary.com/peachux/image/upload/v1669124771/website/Kraze_cover.jpg)">
        <h3 class="work-card-link">Kraze</h3>
      </a>
      <a href="<%= lcl_path %>" class="col-md-4 col-sm-12 work-card d-flex align-items-end p-4" style="background-image: url(https://res.cloudinary.com/peachux/image/upload/v1669124803/website/Lcl_cover.jpg)">
        <h3 class="work-card-link">LCL</h3>
      </a>
      <a href="<%= cryptopassion_path %>" class="col-md-4 col-sm-12 work-card d-flex align-items-end p-4" style="background-image: url(https://res.cloudinary.com/peachux/image/upload/v1669124787/website/CP_cover.jpg)">
        <h3 class="work-card-link">CryptoPassion</h3>
      </a>
    </div>
  </div>
</div>
