<div class="testimonials">
  <div class="container">
    <h2 class="text-center sub-heading-02"><%= t "partials.testimonials.title" %></h2>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12" >
        <div class="carousel-inner">
          <div class="carousel-item active testimony">
            <p><%= t "partials.testimonials.raphaelle" %></p>
            <h4 class="ui-bold-01 text-center">Raphaëlle Montefiore - Frog (part of Capgemini Invent)</h4>
          </div>
          <div class="carousel-item testimony">
            <p><%= t "partials.testimonials.francois" %></p>
            <h4 class="ui-bold-01 text-center">François Chaillot - Freelance</h4>
          </div>
          <div class="carousel-item testimony">
            <p><%= t "partials.testimonials.jc" %></p>
            <h4 class="ui-bold-01 text-center">JC Besson - ACCOR Live Limitless</h4>
          </div>
          <div class="carousel-item testimony">
            <p><%= t "partials.testimonials.rodolphe" %></p>
            <h4 class="ui-bold-01 text-center">Rodolphe Marinier - ACCOR Live Limitless</h4>
          </div>
          <div class="carousel-item testimony">
            <p><%= t "partials.testimonials.noe" %></p>
            <h4 class="ui-bold-01 text-center">Noé Melon - Castor & Pollux</h4>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"><%= t "testimonials.control.previous" %></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"><%= t "testimonials.control.next" %></span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
