<div class="about-banner">
  <div class="container">
    <div class="about-header">
      <h1 class="heading-02"><%= t "pages.about.title" %></h1>
      <iframe class="youtube-video" src="https://www.youtube.com/embed/QzNuv88i7tA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p class="ui-regular-01"><%= t "pages.about.description" %></p>
    </div>
  </div>
</div>
<div class="container">
    <div class="row justify-content-center offer">
      <div class="col-md-4 col-xs-12 service" style="background: linear-gradient(315deg, rgba(14, 0, 77, 1) 39%, rgba(77, 0, 60, 1) 100%)">
        <h2 class="sub-heading-03">Product Design Consulting</h2>
        <ul>
          <li><%= t "pages.about.offer1" %></li>
          <li><%= t "pages.about.offer2" %></li>
          <li><%= t "pages.about.offer3" %></li>
          <li><%= t "pages.about.offer4" %></li>
          <li><%= t "pages.about.offer5" %></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12 service" style="background-color: #E11E6A">
        <h2 class="sub-heading-03"><%= t "pages.about.services-title" %></h2>
        <ul>
          <li><%= t "pages.about.services1" %></li>
          <li><%= t "pages.about.services2" %></li>
          <li><%= t "pages.about.services3" %></li>
          <li><%= t "pages.about.services4" %></li>
          <li><%= t "pages.about.services5" %></li>
          <li><%= t "pages.about.services6" %></li>
          <li><%= t "pages.about.services7" %></li>
          <li><%= t "pages.about.services8" %></li>
        </ul>
      </div>
    </div>
    <div class="about-profile">
      <div class="row justify-content-center mb-4">
        <div class="col-md-8 col-xs-12">
          <h2 class="sub-heading-02"><%= t "pages.about.profiles" %></h2>
        </div>
      </div>
      <div class="row justify-content-center ">
        <div class="col-md-4 col-xs-12">
          <div class="profile">
            <div class="d-flex">
              <img src="https://res.cloudinary.com/peachux/image/upload/v1667919283/website/about_antoine.png" alt="antoine" class="avatar me-3">
              <h3 class="ui-bold-01 align-self-center pt-1">Antoine Pêcheux <br><span class="ui-regular-01"><%= t "pages.about.profile1-description" %></span></h3>
            </div>
            <label for="pricePerDay" class="col-form-label"><%= t "pages.about.price-per-day" %></label>
            <div class="mb-3">
              <input type="text" readonly class="form-control-plaintext form-read-only" id="pricePerDay" value="450€ / day">
            </div>
            <a href="https://drive.google.com/file/d/1hOPG_MpOJANw1u0JjLeTHPj1ppTEj-kh/view?usp=share_link" target="_blank" class="link-icon-normal"><i class="fa-regular fa-eye me-1"></i>See the resume</a>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
         <div class="profile">
            <div class="d-flex">
              <img src="https://res.cloudinary.com/peachux/image/upload/v1667919283/website/about_maki.png" alt="antoine" class="avatar me-3">
              <h3 class="ui-bold-01 align-self-center pt-1">Maki <br><span class="ui-regular-01"><%= t "pages.about.profile2-description" %></span></h3>
            </div>
            <label for="pricePerDay" class="col-form-label"><%= t "pages.about.price-per-day" %></label>
            <div class="mb-3">
              <input type="text" readonly class="form-control-plaintext form-read-only" id="pricePerDay" value="450 kibbles / day">
            </div>
            <a href="https://drive.google.com/file/d/1HS6owhDFlysKzgAJKZTK8btryRd7rD4b/view?usp=share_link" target="_blank" class="link-icon-normal"><i class="fa-regular fa-eye me-1"></i>See the resume</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
